[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
tqdm = "*"
loguru = "*"
dnspython = "*"
exrex = "*"
fire = "*"
bs4 = "*"
tenacity = "*"
treelib = "*"
sqlalchemy = "*"
requests = "*"
pysocks = "*"

[requires]
python_version = "3.8"
