[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
tqdm = "*"
aiomultiprocess = "*"
loguru = "*"
dnspython = "*"
requests = "*"
records = "*"
tldextract = "*"
exrex = "*"
aiohttp = "*"
fire = "*"
bs4 = "*"
pysocks = "*"
cloudscraper = "*"
js2py = "*"
tablib = "*"
brotli = "*"
psutil = "*"
tenacity = "*"

[requires]
python_version = "3.8"
